<html>
  <head>
    <title>Sungkyunkwan University bamboo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="posts.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navi">
        <a href="/posts/new"><figure><%= image_tag 'fbicon.png' %></figure></a>
      </nav>
    </header>
  
    <div class="container">
      <div class="page_introduction">
        <figure><%= image_tag 'img1.jpg' %></figure>
          <div class="page_name">
            <h3>성균관대학교<br>
            멋쟁이 사자처럼<br>
            대나무숲</h3>
          </div>
        </div>

      <div class="texts">
        <div class="back">
          <figure><%= image_tag 'back.jpg' %></figure>
        </div>
        <!--<div class="modal" id="editModal">-->
        <div class="write">
          <%= form_for @post do |f| %>
            <div class="input">
              <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name") %><br>  
              <%= f.text_area :article, rows: 5, cols: 68 %><br>
            </div>
            <div class="submit">
              <%= f.submit '수정완료' %>
            </div>
          <% end %> 
        </div>
        <!--</div>-->
        <br>
      </div>
    </div>
  </body>
</html>
  
  
  
